body{width: 100%}
div{margin: 0 auto}
.topContain{overflow: hidden; background-size: cover; min-width: 1200px; width: 100%; height: 800px;}
.topImg{min-width: 1200px; width: 1920px; height: 800px; /* z-index: -1; position: absolute; left: 0; top:0;*/}
.topContain ul{display: inline-block; width:11520px; top:0;  z-index: -1; margin-left: -0px; transition: all 2s;}
.topContain  .noAction{transition:none}
.topContain ul li{float: left; position: relative;width: 1920px;}
.topCol{width: 1200px; margin: 0 auto;position: relative;}
.topCol img{float: left; margin-top: 52px; height: 43px;}
.topCol ul{width: 475px;height: 116px; float: right; border-bottom: 1px solid #dddddd;}
.topCol ul li{float: left; width:95px;}
.topCol ul li a{ font-size: 16px; height: 16px; line-height: 16px; padding: 70px 0 30px; color: #ffffff}
.topCol ul li a:hover,.topCol ul li .select{ font-size: 16px; height: 16px; line-height: 16px;color: #303641;background-color: #99d4ef; }

.nav{position: fixed;top:0; height: 70px; width: 100%; min-width: 1200px; background-color: #2f3542; z-index: 9999; }
.nav .topCol{height: 70px; font-size: 0}
.nav .topCol img{margin-top: 13px}
.nav .topCol ul{border: none}
.nav .topCol ul li a{padding: 27px 0; }
.diandian{position: absolute;  width: 630px; top:201px;z-index: 99; left:0; right: 0; margin: 0 auto;}
.logo{position: absolute;  width: 325px; top:270px;z-index: 99; left:0; right: 0; margin: 0 auto;}
.title{position: relative;margin-top: 606px; overflow: hidden; color: white; font-size: 26px; z-index: 100}
.describe{position: relative;margin-top: 25px; overflow: hidden; color: white; font-size: 20px; z-index: 100}
.selectDiv{position: relative; height:4px;width: 240px; margin-top: 840px}
.selectDiv a{margin: 0 10px;height:4px; width: 60px; float: left; background-color: #fff}
.selectDiv a:hover,.selectDiv .select{background-color: #99d4ef}
.intro{min-width: 1200px; font-size: 30px; padding: 135px 0 37px; color: #545d69;}
.introduce{min-width: 1200px;font-size: 17px; line-height: 29px; text-align: center;  margin: 0 auto; color: #545d69}
h2{min-width: 1200px;margin: 99px auto 100px; font-size: 24px; color: #545d69; font-weight: bold;}
.introduceUl{min-width: 1200px; height: 185px; margin: 0 auto; display: inline-block}
.introduceUl li{height: 185px; width: 400px; float: left; position: relative;}
.introduceUl li img{height: 65px;}
.introduceUl li p{padding: 0 32px; line-height: 26px; font-size: 16px; text-align: left; color: #8f9ba4; margin-top: 48px;}
.border{position: absolute; top:18px; border-right: 1px solid #dddddd; height: 150px; width: 100%}
.resolveContain{min-width: 1200px; background-color: #f7f7f7; padding:135px 0 133px; width: 100%}
.titleX{position: relative; min-width: 1200px;font-size: 32px;color: #545d69; text-align: center}
.resolveUl{min-width: 1200px; height: 256px; margin: 100px auto 0; display: inline-block}
.resolveUl li{height: 256px; width: 240px; float: left; position: relative; text-align: center}
.resolveUl li img{/*width: 105px;*/ height: 95px}
.resolveUl li h3{margin-top:45px; font-size: 24px; color: #545d69; text-align: center; font-weight: normal;}
.resolveUl li p{line-height: 26px; font-size: 16px;  text-align: center; color: #8f9ba4; margin-top: 35px; }
.eventContain{padding: 135px 0; font-size: 0; min-width: 1200px}

.bigCircle{width: 47px; height: 47px; border-radius: 50%; border:1px solid #60a5d9; padding: 4px;}
.bigCircle div{width: 47px; height: 47px; line-height: 47px; font-size: 14px; text-align: center; font-weight: bold; color: white; border-radius: 50%; background-color: #99d4ef}
.line{width: 1px; background-color: #dddddd; height: 39px;}

.stepMenu{height: 45px; width: 1002px;margin-top: 90px; border-bottom: 1px solid #dddddd; }
.stepMenu div{font-size: 15px; padding: 15px 0; line-height:15px; color:#545d69; float: left; width: 167px;}
.stepMenu .select{color: white; background-color: #4092d4}
.stepLeftOne{width: 445px; float: left}
.stepLeftOne .stepTitle{font-size: 30px; font-weight: bold; color: #545d69; text-align: left; margin-top: 120px;}
.stepLeftOne p{font-size: 17px; line-height: 29px; margin-top: 74px; color:#8f9ba4;text-align: left;  }
.stepLeftOne a{width:120px; height: 33px; line-height: 33px; margin-top:44px; font-size: 17px; color: #4092d4; float: left; border: 1px solid #4092d4; border-radius: 3px; }
.stepContain{display: inline-flex; width: 537px; margin-top: 22px;justify-content:flex-start }
.stepContain img{float: left; height: 8px; width: 8px; margin-top: 12px;}
.stepContain span{float: left;margin-left: 10px; color: #545d69; white-space:nowrap; font-size: 17px; line-height: 33px}
.stepContain p{float: left; color: #9098a3;font-size: 17px; line-height: 33px; margin: 0}

.stepContainThr{display: inline-flex; width: 530px; margin-top: 22px;justify-content:flex-start;}
.stepContainThr img{float: left; height: 8px; width: 8px; margin-top: 12px;}
.stepContainThr p{float: left; color: #9098a3;font-size: 17px; line-height: 33px; margin: 0 0 0 10px}
.stepAddTitle{ position: relative; /*font-weight:bold; */ font-weight:bold; min-width: 1002px;font-size: 30px; padding:90px 0; color: #545d69; text-align: center}
.stepAddUl{position: relative;width: 790px; height: 110px; margin: 0 auto}
.stepAddUl li{border-radius:3px; margin: 10px 20px; width: 353px; height: 33px; float: left;background-color: rgba(114,188,197,0.17); border: 1px solid rgba(114,188,197,0.6)}
.stepAddUl li .name{font-size: 16px; height:33px; line-height: 33px; padding-left: 20px; text-align: left; float: left; color: #71bec5;}
.stepAddUl li input{font-size: 16px; line-height: 33px; padding-left: 20px; text-align: left; float: left; color: #71bec5;}
.stepSubmit{position: relative;width: 210px; height: 42px; line-height: 42px; margin-top: 40px; color: white; background-color: #71bec5; border-radius: 3px;}

.problemContain{position: relative; min-width: 1200px; padding-top: 70px; height: 875px; overflow: hidden; background-color: #f9f9f9; z-index: -2;}
.problemImg{min-width: 1389px; height: 845px; width: 1389px; position: absolute; margin: 0 auto; top:0; left: 0; right:0; z-index: -1;}
/*.problemContain .title{position: relative;min-width: 1200px; font-size: 34px; margin-top: 46px; color: #545d69;text-align: center}*/
.problemScroll{padding:16px 60px 0; width:980px; height: 514px; margin: 62px auto 208px; overflow-Y: scroll; background-color: white}
.problemTitle{margin-top: 34px; font-size: 17px; height: 17px; line-height: 17px}
.problemTitle img{height: 5px; margin-top: 6px; float: left;}
.problemTitle div{float: left; margin-left: 20px; color: #545d69; font-weight: bold;}
.problemScroll p{padding-left:25px; font-size: 14px; line-height: 26px; color:#8f9ba4; text-align: left; margin-top: 9px;}

.addContain{min-width: 1200px; height: 420px; width: 100%; position: relative;}
.addContain img{min-width: 1200px; height: 420px; width: 100%; position: absolute; top:0; left: 0; z-index: -1;}
.addTitle{ position: relative; min-width: 1200px;font-size: 30px; padding:70px 0; color: white; text-align: center}
.addUl{position: relative;width: 790px; height: 110px; margin: 0 auto}
.addUl li{border-radius:3px; margin: 10px 20px; width: 353px; height: 33px; float: left;background-color: rgba(255,255,255,0.35); border: 1px solid rgba(255,255,255,0.65)}
.addUl li .name{font-size: 16px; height:33px; line-height: 33px; padding-left: 20px; text-align: left; float: left; color: white;}
.addUl li input{font-size: 16px; line-height: 33px; padding-left: 20px; text-align: left; float: left; color: white;}
.submit{position: relative;width: 210px; height: 42px; line-height: 42px; margin-top: 40px; color: white; background-color: #4193d5; border-radius: 3px;}

.footer{height: 195px;width: 100%; min-width: 1200px; background-color: #2f3643; margin: 0 auto}
.footerLeft{height: 50px; width: 160px; float: left;}
.footerCenter{float: left; margin-left: 63px; margin-top: 7px;  width: 633px; color: white;text-align: left;}
.centerA span{margin-left: 20px; font-size: 18px; cursor:pointer; height: 18px; line-height: 18px;}
.centerB{font-size: 13px; text-align: left;}
.footerRight{float: left; width: 342px; margin-top: 6px;}
.footerRight li{width: 104px;  float: left;}
.footerRight li img{width: 90px; height: 90px}
.footerRight li div{font-size: 14px; margin-top: 12px; color: white; text-align: center}

.mengceng{position: fixed; top:0; bottom: 0; left: 0; right: 0; }
.mengcengBg{position: fixed; top:0; bottom: 0; left: 0; right: 0; background: black; opacity: 0.6;z-index: 0;}
.mengcengContainer{position:relative;top:370px; width: 430px; height: 210px; background: white; opacity: 1; z-index: 1; border-radius: 5px; overflow: hidden;}
.col{height: 37px; margin: 30px auto; text-align: center; font-size: 0}
.cols{display: inline-block}
.cols img{float: left}
.cols span{height: 24px; line-height: 37px; font-size: 24px; color: #545d69;float: left; margin-left: 13px;}
.colBody{font-size: 16px;color: #545d69; text-align: center}
.colButton{margin-top:30px; height: 30px; line-height: 30px; width: 118px; color:#4092d4;  border: 1px solid #4092d4; border-radius: 3px;}

.right{position: fixed; right: 40px; bottom: 60px; height:100px; width: 45px;}
.right .imgContainer{height: 45px; width: 45px; position: relative;}
.right .row{position: absolute; left: -275px; top:0px; height: 70px; width: 270px; text-align: left;  color: #545d69; padding: 11px 18px;}
.row div{font-size: 14px ; line-height: 24px}
